

body{
    font-family: Arial; background-color:teal; box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium';

}

header{
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
}


nav div{
    /*mostrarlos en linea*/
    display: inline-block;
    width: 150px;
    height: 100px;
}

nav{
    background-color: black;
    min-height: 100px;
    
    
}


#special{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main{
    background-color: black;
    color: white;
    

    
}

#fondo{
    margin: 0 auto;
;
}



form{
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 30px;
    margin: 0 auto;
    width: 300px;
}

button{
    padding: 7px;
    width: 100px;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    background-color: goldenrod;
    
}

.field{
    padding: 10px;
      
    width: 250px;
}

footer{
    background-color: black;
    
}
footer div{
    width: 150px;
    height: 100px;
    clear: both;
    color: white;
    display: inline-block;
    
}

#copyright{
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    header, footer, nav{
        height: 100px;
    }

    #pagina{
        height: auto;
    }

}
  
@media only screen and (min-width: 1200px){
    #pagina{
        display: flex;
        margin: 0 auto;
        flex-direction: row-reverse;
    }

    main{
        flex-grow: 3;
    }
}
  
@media only screen and (min-width: 769px) {
    
    #pagina{
        display: flex;
    }

    }

    main{
        flex: 5;
    }
    
}