/*index*/
.redes{
    width: 40px;
}

body{
    font-family: Arial; background-color:teal; box-sizing: border-box;
    margin: 0px auto;

}

form{
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 30px;
    margin: 0px auto;
    width: 300px;
}

button{
    padding: 7px;
    width: 100px;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    background-color: goldenrod;
    
}

.field{
    padding: 10px;
      
    width: 250px;
}

/*Modelo de caja*/
div{
    height: 150px;
    width: 50%;
    background-color: cadetblue;
    border: 1px solid black;
    padding: 15px;

    display: inline-block;
}
